<!--
 Created on Sun Dec 01 2019
 Created by - Ritesh Kant

-->
<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8" style="text-align: center;
    font-size: larger;">Required no of seats:
        <input type="text" [(ngModel)]="myModel"/>

        <div style="display: inline-flex;">
            <span style="background-color: green; color:white;cursor: pointer;
            border-radius: 3px;
            margin: 10px;
            padding: 10px;
            text-align: center;" (click)="openDialog()">Book Now</span>
            <span [ngClass]="{'seat-disabled': true}">reserved</span>
            
            <span [ngClass]="{'seat-select':true}">available</span>
        </div> 
    </div>
    <div class="col-2">
        
    </div>
</div>



<div class="container-fluid">
    <table>
        <tr *ngFor="let row of rows">
            <td *ngFor="let seat of row.seats">
                <div [ngClass]="{'seat-select': !checkSeatStatus(row.name+''+seat),'seat-disabled':isSeatReserved(row.name+''+seat)}"
                    style="cursor: no-drop;">{{row.name+''+seat}}</div>
            </td>
        </tr>
    </table>
    <!-- <button  id="submitButton">Book Seat</button> -->
</div>